<h2>Iniciar sesión</h2>

<div *ngIf="loginError" class="error">
  {{ loginError }}
</div>

<form [formGroup]="loginForm" (ngSubmit)="submit()">

  <input
    formControlName="email"
    placeholder="Correo electrónico"
    type="email"
  >
  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
    <span *ngIf="loginForm.get('email')?.errors?.['required']">El email es obligatorio</span>
    <span *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido</span>
  </div>

  <input
    formControlName="contrasenia"
    placeholder="Contraseña"
    type="password"
  >
  <div *ngIf="loginForm.get('contrasenia')?.invalid && loginForm.get('contrasenia')?.touched" class="error">
    <span *ngIf="loginForm.get('contrasenia')?.errors?.['required']">La contraseña es obligatoria</span>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">
    Ingresar
  </button>

</form>

<p>
  ¿No tenés cuenta?
  <a routerLink="/registro">Registrarse</a>
</p>
