target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/sqldialects.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
*.iws
*.iml
*.ipr

### Database Files ###
data.sql
data_source_mapping.xml
datasource.xml
sqldialects.xml

### Application Configuration ###
src/main/resources/application.properties
application.properties

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/main/resources/application.properties
.idea/dataSources.xml
data.sql
